.logo {
    position: relative;
    top: 10px;
    height: 80px;
    width: 105px;
    cursor: pointer;
}

.header-title {
    position: relative;
    top: 8px;
    left: 25px;
    font-family: "Georgia", serif;
    font-size: 38px;
    color: darkslateblue;
}

.btnHead {
    margin-left: 10px;
}

.active,
.btnHead:hover {
    color: #bf1e2e;
}

hr {
    margin: 0;
}

.prodLogo {
    position: relative;
    top: 20px;
    font-size: 36px;
    font-weight: bold;
}

.form-control {
    width: 30%;
    margin: 10px 0;
    background: white url("/assets/images/link.png") right center no-repeat
}