.bg {
  /* The image used */
  background-image: url("D:\Rll Project\foodbox\finalfoodbox\src\assets\images\13.jpg");
  /* Full height */
  height: 65vh;
  margin: 0;
  padding: 0;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
